		<div class="fullwidthbanner-container roundedcorners">
			<div class="fullwidthbanner" data-height="1000" data-shadow="0" data-navigationStyle="preview2">
				<ul class="hide"><li>
                <%= image_tag('hot-air-ballons.jpg', :alt =>"cover image", :bgposition => "center top", :bgfit => "cover", :bgrepeat => "no-repeat") %>

				<div class="tp-caption white_big skewfromleft tp-resizeme"
					data-x="471"
					data-y="300" 
					data-speed="400"
					data-start="1500"
					data-easing="Power3.easeInOut"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endspeed="600"
					style="z-index: 2; color:#0B64A0; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
						Elevate Safety, <br />
						Is not the way up
				</div>
				<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
								data-x="100"
								data-y="500" 
								data-speed="300"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"

								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-rred btn-lg" href="home.html">Back to the Elevator &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
				</li></ul>
			</div>
		</div>