<div>
    <%= image_tag("residential.jpg", :width => "100%", :class => 'img-fluid') %>
    <div class="container">
        <div class="row">
            <div class="heading-title text-center">
                <h2 class="fs-40 fw-300">Being home is being comfortable</h2>
                <p style="font-size: larger;">Rocket Elevators understands the peak time challenges in a residential building. We can help you plan for efficient people transportation in real-world situations.</p>
            </div>
        </div>

        <div class="row" style="padding: 100px 0;">
            <div class="col-md-5">
                <%= image_tag("r_home.jpg", :class => 'img-fluid') %>
            </div>
            <div class="col-md-7">
                <h3>Comfortable mobility</h3>
                <p>Residents will appreciate the pleasant atmosphere that Rocket Elevators evoke. The lighting, fixtures and colours can be matched to your building’s architecture and design. The lifts provide both ride comfort and quiet running.</p>
            </div>
        </div>

        <div class="row" style="padding: 100px 0;">
            <div class="col-md-7">
                <h3>Environmentally sound</h3>
                <p>You can be sure that Rocket Elevators lifts are safe and environmentally friendly. The lifts contain no hazardous materials or harmful organic compounds. They are energy-efficient both during standby and when in use.</p>
            </div>
            <div class="col-md-5">
                <%= image_tag("r_home2.jpg", :class => 'img-fluid') %>
            </div>
        </div>

        <div class="row" style="padding: 100px 0;">
            <div class="col-md-5">
                <%= image_tag("r_modern.jpg", :class => 'img-fluid') %>
            </div>
            <div class="col-md-7">
                <h3>Modernisation</h3>
                <p>Since every elevator has a lifespan, we can also modernize your elevators both mechanically and aesthetically. We always work with our clients to understand their needs and offer them adapted solutions, while respecting the security code and the available budget.</p>
            </div>
        </div>

    </div>
</div>