<div>
    <%= image_tag("corporate.jpg", :width => "100%", :class => 'img-fluid') %>
    <div class="container">
        <div class="row">
            <div class="heading-title text-center">
                <h2 class="fs-40 fw-300">When accessibility means secure mobility</h2>
                <p style="font-size: larger;">We understands the complex demands that public structures require. They have to provide traffic flow without interruption. Rocket Elevators supports all the stages needed, from initial specification formulation, through to the construction phase and finally supporting on-going maintenance through our Service and Maintenance Agreements after the installation.</p>
            </div>
        </div>

        <div class="row" style="padding: 100px 0;">
            <div class="col-md-5">
                <%= image_tag("c_night.jpg", :class => 'img-fluid') %>
            </div>
            <div class="col-md-7">
                <h3>Safe and secure</h3>
                <p>For efficient traffic flow to restricted areas, you need to manage access. This begins during project development and continues through the installation process. We have significant experience ensuring government-run projects comply with regulations. Our products are safe, secure and reliable.</p>
            </div>
        </div>

        <div class="row" style="padding: 100px 0;">
            <div class="col-md-7">
                <h3>Access for all</h3>
                <p>Public areas must be barrier free and Rocket Elevators's solutions also meet all world disabled regulations. Rocket Elevators provides assistance during planning, selection and placement of the appropriate lifts and escalators.</p>
            </div>
            <div class="col-md-5">
                <%= image_tag("c_acces.jpeg", :class => 'img-fluid') %>
            </div>
        </div>

        <div class="row" style="padding: 100px 0;">
            <div class="col-md-5">
                <%= image_tag("c_repair.jpeg", :class => 'img-fluid') %>
            </div>
            <div class="col-md-7">
                <h3>Maintenance and Repairs</h3>
                <p>We have a fleet of service vehicles and a team of qualified mechanics to handle emergencies and resolve elevator breakdown problems 24 hours a day, 7 days a week, over the entire vast Montreal metropolitan area. We offer excellent maintenance and servicing plans tailored to customer needs and elevator specifications. A maintenance plan ensures the regular evaluation of your equipment, thus maintaining your equipment in good condition and ensuring its long-term reliability and safety.</p>
            </div>
        </div>

    </div>
    </div>